body {
    margin: 0;
    font-family: sans-serif;
    font-size: large;
}

.menu {
    margin: 0;
    padding: 10px;
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: aqua;
    justify-content: center;
}

.menu-item {
    position: relative;
    display: flex;
    margin: 0px 20px 20px 100px;
    width: 8%;
    height: 100%;
    list-style: none;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    transition: .3s;
}

.menu-item::after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: .3s;
}

.menu-item:hover {
    color: blanchedalmond;
}

.menu-item:hover::after {
    width: 100%;
}